.list-group-item-heading {
    font-weight:bold;
}
.list-group-item-text {
    margin-left:1em;
}

.card-pf.card-pf-aggregate-status .card-pf-aggregate-status-notifications a:hover span.fa, 
.card-pf.card-pf-aggregate-status .card-pf-aggregate-status-notifications a:hover span.pficon {
  color: #363636;
  align-items: center
}