html,
body {
    min-height:100%;
    min-width:100%;
    height: 100%;
    padding:0;
    margin:0;
    text-align:center;
    font-family: Arial;



}

.background {
    width: 100%;
    min-height: 100%;
    background-size: contain;
    background-position: center center;
    background-attachment: fixed;
}

.background > div {
    background-color: #000000;
    color: #ffffff;
    padding: 30px 0;
    position:absolute;
}

.background1 {
    background-image: url("/static/images/id.jpg");
    background-size: cover;
    /*Gap between the content boxes*/
    padding-bottom: 300px;
    position: relative;
}

.background2 {

    background-image: url(https://media.wsimag.com/attachments/47dde8c9a08b55c527bd9d5a7cfa060eec24942a/store/fill/1090/613/d528a39e7f9e72a1facfcda0852d083565d62a2eede2ccca55a2cd66fdd5/Kilis-a-refugee-camp-in-Turkey-near-the-Syrian-border-Credit-Tobias-Hutzler.jpg);
    padding-bottom: 300px;
    object-fit: cover;
}
.background3 {
    background-image: url(https://insights.careinternational.org.uk/media/k2/items/cache/5d231997759398fd54d0c1f438d55347_L.jpg);
    object-fit: cover;
}

/*******Section 1******/
.section1 {
    width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}

.section1 > div {
    background-color: rgba(0, 153, 255, 0.5);
    /*background-color: #0099FF;*/

    padding: 30px 0px 100px 0px;
    height: 480px;


}

#section1Title {
    color: #ffffff;
    font-weight: bold;
}

.section1Content {
    text-align: center;
    font-family: Futura, "Trebuchet MS", Arial;
    font-size: 16px;


}


#enrollBtn{

    text-align: center;

}

#section1Text {
    margin: 0px 200px 0px 200px;
    color: white;
}





/*******Section 2*******/
.section2{
    width: 100%;
    /*min-height: 100%;*/
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;


}

.section2 > div {
    background-color: rgba(0, 153, 255, 0.5);
    /*background-color: #0099FF;*/

    padding: 30px 0;
    height: 700px;

}

#section2Title {
    color: #ffffff;
}
.section2Content {
    text-align: center;
    font-family: Futura, "Trebuchet MS", Arial;
    font-weight: bold;
    font-size: 20px;
    /*text-align: center;*/
}

form {

    margin: 0px 250px 0px 250px;


}



/*******Section 3********/
.section3{
    width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}

.section3 > div {
    background-color: rgba(0, 153, 255, 0.5);
    /*background-color: #0099FF;*/

    padding: 30px 0;
    height: 600px;

}

#section3Title {
    color: #ffffff;
}
.section3Content {
    text-align: center;
    font-family: Futura, "Trebuchet MS", Arial;
    font-weight: bold;


}


.section3Text {

    color: white;
}

#displayData {
    color: white;
}

.fingerprint {
    margin: 0px 300px 0px 300px;
}
